<button class="btn btn-back btn-submit" (click)="VM.cancel()">
  <i class="pi pi-arrow-left"></i>
</button>
<div class="page-title">
  <h1 class="heading-primary-main">{{VM.Elemento.name}}</h1>
</div>
<section class="cards-solo">
  <article class="card card-solo" onclick="location.href='pizza.html'">
    <img src="{{VM.Elemento.image}}" alt="Neapolitan" width="300" />
  </article>
  <article
    class="card card-solo card-product">
    <p>All our pizzas are made with natural and local ingredients.</p>

    Recipe:
    <div class="ingredients-container-solo">
      <span *ngFor="let ing of VM.Elemento.ingredients">{{ ing.name }}</span>
    </div>

    <div class="card-footer">
      <div class="rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="price"><span>Price: 7,50€</span></div>
    </div>
    <button>Buy</button>
  </article>
</section>
