
*{
  --color-dark:rgb(0 0 0);
  --color-light:rgb(255 188 0 / 15%);
  --color-white: #eee;
  --color-card:#2e2e2e80;;
  --color-card-shadow: rgb(84 84 84 / 0.18);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.7;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.header {
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      var(--color-dark),
      var(--color-light)
    ),
    url(pizzas.webp);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
}

.brand-box {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
}

.brand {
  font-size: 1.25em;
}

.text-box {
  position: inherit;
  text-align: center;
  padding-top: 2.25em;
}

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2.25em;
}

.heading-primary-main {
  display: block;
  font-size: .65em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.heading-primary-sub {
  display: block;
  font-size: .4em;
  font-weight: 700;
  letter-spacing: 0.4em;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
  margin-bottom: 1em;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 5px 5px var(--color-dark);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: rgb(0, 0, 0) !important;
  font-size: 14px;
}

.btn-menu {
  text-decoration: none;
  color: white;
  padding: 1em;
  background-color: rgb(125 125 125 / 62%);
}
.btn-menu:hover{
  text-decoration: underline;
  cursor: pointer;
}

.subtext{
  font-size: .75em;
}

.bigtext{
  font-size: 1.5em !important;
}
.no-margin{
  margin: 0 !important;
}
ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgba(0, 0, 0, 0.842)
}

ul.horizontal li {
  float: left;
}
button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
}

ul.horizontal li button:hover:not(.active) {
  background-color: #000;
}

ul.horizontal li button.active {
  background-color: #990000;
}

@media(max-width: 720px){
  .header{
   background-image: linear-gradient(
      to right bottom,
      rgb(0 0 0),
      rgb(255 188 0 / 15%)
    );
  }
}
