<section class="login">
  <article class="card-login ">
      <form class="form" action="#">
          <h2>Sign in</h2>
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="Email" required autofocus/>
          <label for="password">Password</label>
          <input id="password" type="password" placeholder="Password" required/>
          <a class="link" href="signup.html">Don't have an account?</a>
          <a class="ink btn-black btn btn-animated" onclick="location.href='indexLog.html'">Sign In</a>
      </form>
  </article>
</section>
