<button class="btn btn-back btn-submit" (click)="VM.cancel()"><i class="pi pi-arrow-left"></i></button>
<h1 class="heading-primary-main">Ingredients</h1>
<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">PIZZA</th>
      <th scope="col">USER</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">STATE</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="id">{{ VM.Elemento.id }}</td>
      <td data-label="pizzaId">{{ VM.Elemento.pizzaId }}</td>
      <td data-label="userId">{{ VM.Elemento.userId }}</td>
      <td data-label="address">{{ VM.Elemento.address }}</td>
      <td data-label="state">{{ VM.Elemento.state }}</td>
      <td data-label="Action">
        <button class="btn" [routerLink]="['edit']">
          <i class="pi pi-pencil"></i>
        </button>
        <!-- <button class="btn" [routerLink]="[VM.Elemento.id]"><i class="pi pi-eye"></i></button>
        <button class="btn" [routerLink]="[VM.Elemento.id, 'edit']"><i class="pi pi-pencil"></i></button> -->
        <button class="btn" (click)="VM.delete(VM.Elemento.id)">
          <i class="pi pi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

